.login-box {
  text-align: center;
  // margin: 10px 3%;
  // margin-left: 40px;
  width: 420px;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 10px 3%;
  width: 350px;
  height: 40px;
  background-color: #004fff;
  border: none;
  color: white;
  font-size:  14px;
  // font-weight: bold;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: rgba(0, 79, 255, 0.8);
  cursor: pointer;
}

.kakao {
  background-color: #F7E600;
  color: #3A1D1D;
  width: 390px;
}
.kakao:hover {
  background-color: rgba(247, 230, 0, 0.8);
}

.other {
  background-color: #303233;
  width: 390px;
}
.other:hover {
  background-color: rgba(48, 50, 51, 0.8);
}

.login {
  // float: left;
  width: 350px;
  margin: 10px 10px;

  &_input {
    font: 13px/18px "Lato", Arial, sans-serif;
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    text-indent: 10px;

  }
  &_input:focus {
    outline: none;
    font: 13px/18px "Lato", Arial, sans-serif;
    background-color: rgba(232, 232, 232, 0.598);
  }
}
.underline {border: 0; padding: 7px 0; border-bottom: 1px solid #ccc;}

.wrap {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 400px;
}
.bar{
  flex: auto;
  border: none;
  height: 1px;
  background-color: rgb(174, 174, 174);
}
.txt {
  padding: 0 10px;
  font-size: 14px;
  color: rgb(155, 155, 155);
}

.tip {
  background-color: rgba(244, 244, 244, 0.612);
  width: 400px;
  height: 70px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;

  &_text {
    text-align: center;
    width: 380px;
    height: 30px;
    margin: 0 auto;
    padding-top: 16px;
    font: "Lato", Arial, sans-serif;
    font-size: 16px;
  }
}

.modal,
.overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
}
.overlay {
  opacity: 0.5;
  background-color: black;
}
.modal-card {
  // position: relative;
  // width: 420px;
  max-width: 80%;
  margin: auto;
  // margin-top: 30px;
  padding: 20px;
  background-color: white;
  min-height: 500px;
  z-index: 50;
  opacity: 1;
  display: flex;
  align-items: center;
}